
header {
    
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-image: url(../../assets/head.jpeg);
    background-size: cover;
  }
  
  .navbar-nav a { 
    text-decoration: none;
    color: black;
   
    font-family: 'Poppins';
    padding: 24px;
    transition: all 0.6s;
  }
  .menu ul li  {
    display:inline-block;  
    cursor: pointer;
    }

/* .container-menus {
        border-top: solid 1px black; 
    } */
  
    .menu ul li
    {
        text-decoration : none;
        padding-bottom: 2px;
        
    }
    .menu ul li a:hover {
        
        text-decoration : none;
        padding-bottom: 2px;
        border-bottom : 2px solid aquamarine
        
    }

    
    /*
    .header-inner {
        display: flex;
        justify-content: space-around;
        background-image: url(../../assets/couverture.jpeg);
        background-size: cover;*/
  
   
    .header img  {
        height: 120px;
       
    }
    .header-inner h1  {
        color: white;
    }

    
