/*header */
header {
    background-color: white;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .navbar-nav a { 
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Poppins';
    padding: 18px;
    transition: all 0.3s;
  }
  .menu ul li  {
    display:inline-block;  
    justify-content: right;
    cursor: pointer;
    margin: 8px;
    }

    ul {
        margin: 0px;
    }

    .container-menus {
        background-color: white;
        border-top: solid 1px black;
    }
    .container-menus nav ul li a {
        display: block;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 16px;
        transition: all 0.5s;
        border: 2px solid transparent;
      
    }

    .menu ul li
    {
        text-decoration : none;
        padding-bottom: 2px;
        border-bottom : 2px solid transparent  
    }
    .menu ul li a:hover {
        
        text-decoration : none;
        padding-bottom: 2px;
        border-bottom : 2px solid #0E4589
        
    }
    .header-inner {
        display: flex;
        justify-content: space-around;
        background-image: url(../../assets/couverture.jpeg);
        background-size: cover;
  
    }
    .header-inner img  {
        height: 150px;
        color: white;
    }
    .header-inner h1  {
        color: white;
    }

    
