.cover {
background-image: url("https://www.smartsenegal.gouv.sn/sites/default/files/weep-ss.png");
height: 540px;
background-size: cover;
background-position: center center;
margin: 0; 
color: white;
}