
  .tableauglobal {
    display: flex;
    justify-content: center;
    margin-left: 36px;
    margin-right: 36px;
  }

  table {
    margin-top: 64px;
    border-radius: 8px;
    background-color: white;
    box-shadow:outset -3px -2px 20px 0px rgb(26 32 37 / 29%); 
  }

  table td{
    padding: 8px 56px 8px 56px;
   /* border-bottom: 1px solid black;*/
  }
  
  table th {

    box-shadow:outset -3px -2px 20px 0px rgb(26 32 37 / 29%);     
    padding: 12px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    text-align: left;
    font-size: large;
    background-color: #2d50e6;
    color: white;
  }

input[type="number" i] {
  padding: 12px;
  width: 100px;
  border: none;
  text-align: center;
  font-size: large;
}

table label input {
  border: solid 2px black;
 width: 80%;
  height: 4px;
}
  
.tableauglobal button {
  margin-top: 64px;
  margin-left: 82px;
 font-size: x-large;
  padding: 16px 24px 16px 24px;
  border-radius: 8px;
  border: none;
  background-color: aquamarine;
  cursor: pointer;
}

.tableauglobal button:hover {

transition: 0.7s;
transform: scale(1.2);

}

input[type="text" i], input[type="email" i], input[type="password" i] {
  /* padding: 16px; */
  border: none;
  border-radius: 8px;
  /* margin: 8px; */
}

.h1Publier {
  margin-top: 144px;
  margin-left: 50px;

}
input#search {
  font-size: larger;
  padding: 16px;
  width: 260px;
}

tr:hover img {
    mix-blend-mode: multiply;
}
tr:hover input {
  background:transparent;    
  color: white;
  
}
tr:hover {
    background:#2d50e694;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

 .quantité{
  box-sizing: border-box;
  padding: 0px;
}

.quantité input {
box-sizing: border-box;
  padding: 32px;
  cursor: pointer;
  width: 280px;
}

