
  
  table {
    font-family: 'Poppins';
    border-collapse: collapse;
    width: 80%;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0E4589;
    color: white;
    border-radius: 8px;
  }
  
  input {
    border: solid 2px black;
    width: 78%;
    border-radius: 8px;
  }
  
  .quantity {
    display: flex;
    justify-content: space-between;
  }
  .publierBDD button {
    width: 20%;
    margin-bottom: 10px;
    background-color: aquamarine;
    border: none;
    border-radius: 16px;
    margin-top: 48px;
    cursor: pointer;
    font-size: larger;
    transition: all 0.5s;
    padding: 17px;
  }
  
  .donations button {
    
      width: 40%;
      margin-bottom: 10px;
      background-color: blueviolet;
      border: none;
      border-radius: 16px;
      margin-top: 48px;
      cursor: pointer;
      font-size: larger;
      transition: all 0.5s;
      padding: 17px;
  
  }
  