.modifier {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 184px;
}

.formModifier {
  background-color: #2d50e6;
  padding: 56px;
  border:none;
  border-radius: 8px;
  color: white;
  margin-top: 100px;
  margin-bottom: 120px;
}



.inputModifier {
  padding: 16px;
  margin: 6px;
  display: flex;
  flex-direction: column;
}

input[type="text" i], input[type="email"  i], input[type="password" i]  {
  padding: 16px;
  border: none;
  border-radius: 8px;
  margin: 8px;
}

.formModifier button {
  margin-top: 32px;
  background-color:aquamarine;
  border: none;
  padding: 16px 32px 16px 24px;
  border-radius: 8px;
  font-size: larger;
  cursor: pointer;
  margin-left: 30%;
}

.formModifier button:hover { 
  transition: 0.7s;
  transform: scale(1.2);}

