.loginglobal {
  display: flex;
  justify-content: space-evenly;
}

.loginForm {
  background-color: #0F4588;
  padding: 16px;
  border:none;
  border-radius: 8px;
  color: white;
  margin-top: 184px;
}

.inputLogin {
  padding: 16px;
  margin: 16px;
}

.inputLogin button {

  padding: 16px;
  margin-top: 64px;
  justify-content: center;
  width: 68%;
  background-color: ;
}


