.loginglobal {
  display: flex;
  justify-content: center;
}

.loginForm {
  background-color: #2d50e6;
  padding: 68px;
  border:none;
  border-radius: 8px;
  color: white;
  margin-top: 184px;
}

.inputLogin {
  padding-top: 16px;
  margin: 46px;
  display: flex;
  flex-direction: column;
}


.h1Login {
  margin-top: 6px;
  text-align: center;
  font-size: xx-large;
}
.inputLogin input {
  background-color: white;
  font-size: medium;
}

.inputLogin button {
margin-top: 38px;
padding: 16px;
border-radius: 8px;
font-size:large;
border: none;
background-color: aquamarine;
cursor: pointer;
}


.inputLogin p {

  margin-top: 18px;
}

.link {
  color: white;
  text-decoration: none;
}