
.loginglobal {
    display: flex;
    justify-content: space-evenly;
    background-color:#1E9BD8;
}
.containerconnexion {
    max-width: 100%;
    margin: 0;
    padding: 68px;
    background-color: #1E9BD8;
} 

.loginPartenaire, .container2 {
    width: 100%;
    margin: 16px;
    
    color: white;
    border-radius: 16px;
  }

    
  form.admin, form.adminform {
    padding: 24px;
    background-color: #2d15b8;
  }
    .loginPartenaire input, .container2 input
    {
        
        width: 90%;
        font-family: 'Poppins';
        display: block;
        text-align: left;
        margin: 4px;
        padding: 16px
        
      
   }

  button.enter {

    width: 98%;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
  
    border-radius: 8px;
   
    cursor: pointer;
  
    font-size: larger;
    transition: all 0.3s;
}
   .enter button:hover {
    background-color: #1E9BD8;
color: white;
border: solid 3px white;
   }
  