.formulaire {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: beige;
        border-radius: 16px;
        padding: 8px;
        margin-left: 50px;
        margin-right: 50px;
}

.bilan {
    margin-top: 64px;
    display: flex;
}

.deliveries {
    border-radius: 16px;
    padding: 8px;
    margin-left: 50px;
    margin-right: 50px;
}

/*input.typedestructure {
    height: 100px;
    width: 200px;
} */

button.envoyer {
    margin-top: 16px;
    margin-left: 82px;
    padding: 16px 24px 16px 24px;
    border-radius: 8px;
    font-size:large;
    border: none;
    background-color: aquamarine;
    cursor: pointer;

  }
  .tableauglobal button:hover {
  
  transition: 0.7s;
  transform: scale(1.2);
  }
.formulaire h4 {
color: #0E4589
  }

.formulaire h3 {
    font-style: oblique;
}

.table {
    margin-top: 64px;
    border-radius: 8px;
}