.PublierTEST {
    font-family: 'Poppins';
    text-align: center;
  }
  
  table {
    font-family: 'Poppins';
    border-collapse: collapse;
    width: 80%;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
 
  
.tableau{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7f0e89;
    color: white;
    border-radius: 8px;
  }
  
  label input {
    border: solid 2px black;
    width: 80%;
  }
  
  .quantity {
    display: flex;
    justify-content: space-between;
  }

  .button {
    width: 40%;
    margin-bottom: 10px;
    background-color: #f6a2a2;
    border: none;
    border-radius: 16px;
    margin-top: 48px;
    cursor: pointer;
    font-size: larger;
    transition: all 0.5s;
    padding: 17px;
}


.donations button {
    
  width: 20%;
  margin-bottom: 10px;
  background-color: rgb(43, 226, 116);
  border: none;
  border-radius: 16px;
  margin-top: 48px;
  cursor: pointer;
  font-size: larger;
  transition: all 0.5s;
  padding: 17px;

}