
  
  table {
    font-family: 'Poppins';
    border-collapse: collapse;
    width: 80%;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0E4589;
    color: white;
    border-radius: 8px;
  }
  
  label input {
    border: solid 2px black;
    width: 78%;
  }
  
  .quantity {
    display: flex;
    justify-content: space-between;
  }