.register{
    display: flex;
    justify-content: center;
    margin-top: 64px;
    width: 40%;
}


.formRegister {
  background-color: #0F4588;
  padding: 56px;
  border:none;
  border-radius: 8px;
  color: white;
  margin-top: 100px;
  margin-bottom: 120px;
  justify-content: center;
}
.formRegister input{
   width: 92%;}

   .formRegister button{

        margin-top: 32px;
        margin-left: 40%;
         background-color:aquamarine;
        border: none;
        padding: 16px 32px 16px 24px;
        border-radius: 8px;
        font-size: larger;
        cursor: pointer;
      }
      
      .formRegister button:hover {
      
      transition: 0.7s;
      transform: scale(1.4);}
  
      select#assos {
        width: 380px;
    }